node_modules
npm-debug.log
start.sh
.avoscloud
.leancloud

# VIM
*~
*.swp


*.bak
*.log
*.pid
*.py[cod]
*.seed
*.sw[po]

.*~
.coverage*
.DS_Store
.grunt
.idea
.lock-wscript
.cache

coverage.xml
pylint.out

bower_components
coverage
coverage-reports
lib-cov
logs
node_modules
permdir
permdir_test
pids
reports
sms_service_client
test-reports
tmpdir
venv