<!DOCTYPE HTML>
<html>
  <head>
    <title>首页</title>
    <link rel="stylesheet" href="/dest/common.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div id="app">
      <div id="handler-wrap">
        <div id="handler">
          <div id="left">0</div>
          <div id="right">0</div>
        </div>
      </div>
      <audio autoplay src="/audio/left.mp3"></audio>
      <audio autoplay src="/audio/right.mp3"></audio>
    </div>


    <script src="/dest/zepto.js"></script>

    <script src="/js/index.js"></script>
  </body>
</html>
