// color
// sync from MarketUI
$black: #4A4A4A;
$white: #fff;

$green: #46A68F;;
$green-dark: #0aa082;
$green-light: #96beb4;

$red: #f05f50;
$red-dark: #f05f50;
$red-light: #ff966B;

$gray: #5c5c5c;
$gray-dark: #4a4a4a;
$gray-light: #9b9b9b;

$smoke: #e4e4e4;
$smoke-dark: #bdbdbd;
$smoke-light: #f7f7f7;

// size
$design-width: 950px;
$design-width-wide: 1024px;

// font
$font-family: Helvetica, Arial, Roboto, "PingFang SC", "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
$font-size: 12px;

$content-size: $font-size;
$content-size-large: 14px;
$title-size: 16px;

// header
$header-height: 52px;
$header-width: 950px;